.lds-dual-ring-wrap {
  text-align: center;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;

  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #42311cdc transparent rgba(66, 49, 28, 0.863) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page-color {
  background-color: rgba(255, 245, 238, 0.897);
  color: #000;
  border: none;
}

.title-color {
  background-color: rgba(66, 49, 28, 0.863);
  color: #fff;
}

.btn-primary {
  box-shadow: none;
  position: relative;
  background-color: rgba(66, 49, 28, 0.863);
  color: #fff;
  border-color: rgba(107, 93, 84, 0.897);
}

.btn-primary:hover,
.btn-primary:active {
  box-shadow: none;
  background-color: rgba(153, 135, 111, 0.863);

  color: #fff;
}

.btn {
  margin-left: 5px;
  margin-right: 5px;
  border: none;
}

.btn-close {
  color: #fff;
}

.modal-footer {
  border-top:1px solid rgba(66, 49, 28, 0.1);
}
