.navbar-collapse {
  justify-content: center;
}

.brand-logo {
  width: 190px;
}

.navbar {
  padding-left: 40px;
  padding-right: 40px;
}

.nav-end {
  justify-content: end;
}

.nav-gap {
  gap: 10px;
  align-items: center;
}

.form-control {
  box-shadow: none;
}

.form-control.ng-dirty {
  color: rgba(66, 49, 28, 0.863);
}
.search-form {
  position: relative;
}

.btn-outline-success {
  box-shadow: none;
  position: relative;
  background-color: rgba(153, 135, 111, 0.863);
  color: #fff;
  border-color: rgba(107, 93, 84, 0.897);
}

.btn-outline-success:hover,
.btn-outline-success:active {
  box-shadow: none;
  background-color: rgba(255, 245, 238, 0.897);
  color: rgba(66, 49, 28, 0.863);
}

.navbar-color {
  background-color: rgba(66, 49, 28, 0.863);
  color: rgba(255, 245, 238, 0.897);
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 245, 238, 0.897);
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  opacity: 0.5;
}

/* .align-flex-default {
  align-items: center;
} */

.form-check-input {
  background-color: rgba(66, 49, 28, 0.863);
  border-color: rgba(107, 93, 84, 0.897);
}

@media (max-width: 1139px) {
  .navbar-expand-lg {
    padding-left: 0px;
    padding-right: 0px;
  }
}

@media (max-width: 1074px) {
  .nav-gap {
    gap: 3px;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0px;
  }
}

@media (max-width: 992px) {
  .login-item {
    margin-top: 10px;
  }

  .profile-item {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  .nav-gap {
    gap: 0px;
    align-items: start;
  }
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.5rem;
  }

  .container-fluid {
    gap: 10px;
  }

  .nav-link {
    padding-top: 3px;
  }

  .desktop-text-align {
    text-align: center;
  }
}

.nav-link.dropdown-toggle {
  padding: 0;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-menu {
  background-color: #fff;
  border-color: rgba(153, 135, 111, 0.863);
}

.dropdown-link {
  color: rgba(66, 49, 28, 0.863);
  font-weight: 500;
  transition: all 0.3s;
}

.dropdown-link:hover,
.dropdown-link:active {
  box-shadow: none;
  background-color: #fff;
  color: rgba(153, 135, 111, 0.863);
  opacity: 0.5;
}

.user-info {
  color: rgba(66, 49, 28, 0.863);
  font-weight: 500;
}

.user-info:hover,
.user-info:active {
  box-shadow: none;
  background-color: #fff;
}

.profile-img {
  align-self: center;
  border: solid 1px rgba(66, 49, 28, 0.863);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.dropdown-hr {
  margin: 9px;
  color: rgba(66, 49, 28, 0.863);
}
