<div class="row">
  <div class="col-md-7">
    <a
      (click)="onClickDown()"
      style="cursor: pointer"
      class="btn-link btn-down"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-caret-down"
        viewBox="0 0 16 13"
      >
        <path [attr.d]="icon.arrowDown" />
      </svg>
    </a>
    <router-outlet></router-outlet>
  </div>
  <div class="col-md-5">
    <a (click)="onClickUp()" style="cursor: pointer" class="btn-link btn-up">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-caret-up"
        viewBox="0 0 16 17"
      >
        <path [attr.d]="icon.arrowUp" />
      </svg>
    </a>

    <app-cocktail-list></app-cocktail-list>
  </div>
</div>
