<a
  style="cursor: pointer"
  class="list-group-item clearfix cocktail-item"
  [routerLink]="[cocktailItem.id]"
  routerLinkActive="active"
>
  <div class="float-md-start">
    <h4 class="list-group-item-heading desktop-text-align notranslate">
      {{ cocktailItem.name }}
    </h4>
    <p class="list-group-item-text float-md-start">ID: {{ cocktailItem.id }}</p>
  </div>
  <span class="float-md-end">
    <img
      [src]="defaultImage"
      [lazyLoad]="cocktailItem.image"
      [offset]="offsetNumber"
      [scrollTarget]="scrollWindow"
      alt="{{ cocktailItem.name }}"
      class="img-fluid"
      style="max-height: 80px; min-height: 80px"
    />
  </span>
</a>
