<div class="row">
  <div class="col-xs-12">
    <div class="scroll-window" id="cocktail-list-window">
      <ng-template #loadingOrError>
        <div *ngIf="errorObject; else loading">
          <div class="col-12 text-center">
            <div class="alert alert-danger page-color">
              {{ errorObject }}
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template #loading>
        <div class="lds-dual-ring-wrap">
          <div class="lds-dual-ring" *ngIf="isLoading$ | async"></div>
        </div>
      </ng-template>

      <div *ngIf="cocktailList$ | async as cocktailList; else loadingOrError">
        <app-cocktail-item
          *ngFor="
            let cocktailEl of cocktailList
              | sort: toggleSort
              | filter: filteredStatus;
            let i = index
          "
          [cocktailItem]="cocktailEl"
          [index]="i"
        ></app-cocktail-item>
      </div>
    </div>
  </div>
</div>
